//1. 直接写 px，编译后会直接转化成 rem；---- 【除下面两种情况，其他长度用这个】
//2. 在 px 后面添加 /*no*/，不会转化 px，会原样输出； ---- 【一般 border 用这个】
//3. 在 px 后面添加 /*px*/，会根据 dpr 的不同，生成三套代码。
@font-face {
  font-family: 'CourierPrime';
  src: url("~@/assets/fonts/CourierPrime.ttf") format('truetype');
}
body,html {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system,BlinkSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helevetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","Source Han Sans CN",sans-serif;
}
blockquote, body, span, code, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}
:focus, button, img {
  outline: 0;
  border: 0;
}
#app {
  padding:0;
  margin: 0;
  height: 100vh;
  min-height: 1080px;
  .wrap {
    background:#051123 url("~@/assets/images/index/bg.jpg") no-repeat;
    background-size: 100% auto;
  }
  .login {
    background: #050b16 url("~@/assets/images/login/bg.jpg") no-repeat;
    background-size: 100% auto;
  }
  header {
    height: 84px;
    width: 100%;
    display: flex;
    flex: auto;
    color: white;
    ul.menu {
      display: flex;
      flex-direction: row;
      width: 35.9%;
      align-items: flex-end;
      justify-content: flex-end;
      li {
        font-size: 27px;
        font-weight: 600;
        background: url("~@/assets/images/index/menu_bg.png") no-repeat;
        background-size: 226px 51px;
        height: 51px;
        line-height: 51px;
        width: 228px;
        text-align: center;
        cursor: pointer;
        &:not(:last-child){
          margin-right: -53px;
        }
      }
    }
    .title {
      width: 28.1%;
      height: 80px;
      display: block;
      position: relative;
      h1 {
        text-align: center;
        font-size: 33px;
        line-height: 80px;
        text-shadow: 0 2px 4px rgba(5, 17, 35, 0.2);/*no*/
        background: linear-gradient(to bottom, #eff8ff, #2cd5ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255,255,255,.1);
      }
      /*.gradient {
        width: 50%;
        height: 100%;
        position: absolute;
        animation: moveflash 5s infinite;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &:before,&:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          opacity: 0.35;
          background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
        }
        &:before {
          content: ' ';
          position: absolute;
          left: 50%;
          width: 50%;
          background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
        }
      }*/
      .line {
        position: absolute;
        width: 332px;
        height: 178px;
        z-index: 3;
        bottom: -92px;
        left: 0;
        background: url("~@/assets/images/index/line.png") no-repeat;
        background-size: 100%;
        animation: slideInOut 5s ease infinite;
      }
    }
    .now-date {
      width: calc(34.2% - 32px);
      margin-right: 32px;
      font-size: 17px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      p {
        display: block;
        height: 40px;
        line-height: 45px;
        padding-left: 40px;
        margin-top: 10px;
        position: relative;
        font-size: 23px;
        font-family: "CourierPrime", sans-serif;
        letter-spacing: -2px;
        &:before {
          position: absolute;
          content: '';
          background: url("~@/assets/images/index/date_time.png") no-repeat;
          background-size: 40px 40px;
          width: 40px;
          top:0;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  main {
    height: calc(100vh - 84px);
    min-height: calc(1080px - 84px);
    margin: 0 auto;
    box-sizing: border-box;
    .flex-con {
      display: flex;
      padding: 15px;
      .main-left {
        width: 1306px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .map {
          width: 100%;
          height: 610px;
        }
        .table-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          color: white;
          width: 1280px;
          .img-left {
            width: 555px;
            .img-con {
              display: flex;
              height: 290px;
              margin-top: 5px;
              background-color: rgba(1,17,29,.9);
              justify-content: space-between;
              align-items: center;
              .img {
                width: 193px;
                height: 252px;
                img {
                  width: 193px;
                  height: 252px;
                  border-radius: 6px;
                }
              }
              ul.list {
                width: 100%;
                margin-left: 30px;
                li {
                  position: relative;
                  padding-left: 45px;
                  color: #82D6FB;
                  font-size: 18px;
                  line-height: 54px;
                  span {
                    color: #F7CD46;
                    font-size: 30px;
                    font-family: "CourierPrime", sans-serif;
                    letter-spacing: -4px;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 41px;
                    height: 50px;
                    background: url("~@/assets/images/index/icon_sp.png") no-repeat;
                    background-size: 41px 195px;
                  }
                  &:nth-of-type(1):before {
                    background-position: 0 6px;
                  }
                  &:nth-of-type(2):before {
                    background-position: 0 -40px;
                  }
                  &:nth-of-type(3):before {
                    background-position: 0 -92px;
                  }
                  &:nth-of-type(4):before {
                    background-position: 0 -143px;
                  }
                }
              }
            }
          }
          .table-right {
            width: 725px;
            .table-con {
              display: flex;
              width: 100%;
              height: 270px;
              margin-top: 5px;
              background-color: rgba(1,17,29,.9);
              padding: 10px 0;
              .marquee {
                width: 100%;
                dl {
                  display: flex;
                  color: #ACB7BC;
                  font-size: 14px;
                  background-color: #072C39;
                  justify-content: space-between;
                  dt {
                    flex: 1;
                    padding: 8px;
                    text-align: center;
                  }
                }
                .marquee-wrap {
                  width: 100%;
                  height: calc(270px - 35px);
                  overflow: hidden;
                  .marquee-list {
                    li {
                      display: flex;
                      color: #76C6CF;
                      width: 100%;
                      font-size: 14px;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      height: 35px;
                      border-bottom: 1px solid rgba(78,158,192, .1);
                      span {
                        flex: 1;
                        padding: 8px;
                        text-align: center;
                      }
                      /*&:nth-of-type(even) {
                        background-color: rgba(78,158,192, .1);
                      }*/
                    }
                  }
                }

              }
            }
          }
        }
      }
      .main-right {
        width: 555px;
        height: 957px;
        background: rgba(6,17,33, .57);
        border: 2px solid;/*no*/
        border-image: linear-gradient(0deg, rgba(31, 77, 102, 0.56), rgba(92, 192, 243, 0.56)) 2 2;
        .right-box {
          padding: 20px;
          color: white;
          .box-con {
            padding:10px 0;
            .list-3 {
              display: flex;
              flex-direction: row;
              align-content: center;
              li {
                width: 33.3%;
                display: flex;
                flex-direction: column;
                em {
                  width: 90px;
                  height: 85px;
                  display: block;
                  margin: 0 auto;
                  padding: 5px;
                  img {
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
                p,span {
                  text-align: center;
                }
                p {
                  font-size: 18px;
                  strong {
                    font-size: 60px;
                    background: linear-gradient(to bottom,#5CEEE9,#07A67B);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
                }
                span {
                  font-size: 20px;
                }
                &:not(:last-child){
                  background: url("~@/assets/images/index/li_line.png") no-repeat right center;
                }
              }
            }
            h4 {
              font-size: 20px;
              font-weight: normal;
              text-shadow: 0 0 10px #00b9ff;/*no*/
              height: 30px;
              line-height: 30px;
              padding-bottom: 10px;
            }
            ul.num-roll {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              height: 70px;
              margin-bottom: 10px;
              li {
                width: 53px;
                height: 70px;
                margin-right: 3px;
                background: url("~@/assets/images/index/num_box.png") no-repeat center;
                background-size: 100% auto;
                font-size: 50px;
                text-align: center;
                line-height: 70px;
                color: #5CC9CA;
                position: relative;
                span {
                  position: absolute;
                  width: 53px;
                  height: 70px;
                  bottom: 0;
                  writing-mode: vertical-rl;
                  text-orientation: upright;
                  overflow: hidden;
                  display: block;
                  i {
                    font-style: normal;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    transition: transform 1s ease-in-out;
                    letter-spacing: 10px;
                    user-select:none;
                    &.no-date {
                      opacity: .3;
                    }
                  }
                }
              }
            }
          }
          .line-box {
            width: 100%;
            height: 350px;
            position: relative;
          }
        }

      }
    }
    .login-box {
      display: flex;
      margin: 75px auto 0 auto;
      width: 671px;
      height: 524px;
      background: url("~@/assets/images/login/login_box.png") no-repeat;
      background-size: 100% auto;
      box-sizing: border-box;
      padding: 20px 60px;
      flex-direction: column;
      color: #13d5e2;
      .login-tit {
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 5px;
        height: 60px;
        line-height: 60px;
      }
      .form {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        >input {
          box-sizing: border-box;
          width: 100%;
          height: 54px;
          border: 3px solid #076776;
          color: #13d5e2;
          font-size: 20px;
          position: relative;
          padding-left: 60px;
          line-height: 55px;
          margin-bottom: 25px;
          &:nth-child(1) {
            background: #062735 url("~@/assets/images/login/input_icon.png") no-repeat 15px 5px;
            background-size: 41px 153px;
          }
          &:nth-child(2) {
            background: #062735 url("~@/assets/images/login/input_icon.png") no-repeat 15px -45px;
            background-size: 41px 153px;
          }
        }
        label {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          input {
            box-sizing: border-box;
            height: 54px;
            border: 3px solid #076776;
            color: #13d5e2;
            font-size: 20px;
            position: relative;
            padding-left: 60px;
            line-height: 55px;
            width: 280px;
            display: inline-block;
            background: #062735 url("~@/assets/images/login/input_icon.png") no-repeat 15px -100px;
            background-size: 41px 153px;
          }
          em {
            width: 200px;
            display: inline-block;
            height: 54px;
            background-color: white;
          }
        }
        .remember-me {
          height: 55px;
          display: flex;
          align-items: center;
          span {
            line-height: 55px;
            font-size: 16px;
            color: white;
            padding-left: 10px;
          }
          input[type='checkbox'] {
            width: 20px;
            height: 20px;
            border: 3px solid #076776;
            background-color: #062735;
          }
        }
        button {
          height: 54px;
          width: 100%;
          background: linear-gradient(90deg, #0CA8CA, #22C3DB);
          border: none;
          font-size: 25px;
          color: white;
          letter-spacing: 3px;
          cursor: pointer;
        }
      }

    }
  }
}
.title {
  height: 45px;
  line-height: 45px;
  position: relative;
  display: flex;
  font-size: 23px;
  align-content: center;
  &:before {
    background:url("~@/assets/images/index/title_icon.png") no-repeat 0 center;
    background-size: 18px 27px;
    width: 30px;
    height: 45px;
    content: '';
  }
}
.loading {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: rgba(0,0,0,.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    width: 100px;/*px*/
    height: 100px;/*px*/
  }
  .loading-tip {
    font-size: 28px;/*px*/
    color: white;
    animation: breath 3s ease-in-out infinite;
  }
}

.toast {
  position: fixed;
  top: 45%;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px 15px 5px 50px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #062836;
  border-radius:3px 3px 3px 3px;
  background-position:15px center;
  background-repeat:no-repeat;
  box-shadow:0 0 12px #999;
  color:#fff;
  opacity:.8;
  &.error{
    background-color: #bd362f;
    background-image:url('~@/assets/images/toast/error.png')
  }
}

@keyframes breath {
  from{ opacity: 0.1; }
  50%{ opacity:   1; }
  to{ opacity: 0.1; }
}
@keyframes slideInOut{
  0%{
    transform:translateX(-50%);
    opacity:0;
  }
  20%{
    transform:translateX(15%);
    opacity:1;
  }
  80%{
    transform:translateX(50%);
    opacity:1;
  }
  100%{
    transform:translateX(100%);
    opacity: 0;
  }
}
