//1. 直接写 px，编译后会直接转化成 rem；---- 【除下面两种情况，其他长度用这个】
//2. 在 px 后面添加 /*no*/，不会转化 px，会原样输出； ---- 【一般 border 用这个】
//3. 在 px 后面添加 /*px*/，会根据 dpr 的不同，生成三套代码。
@font-face {
  font-family: 'CourierPrime';
  src: url("~@/assets/fonts/CourierPrime.ttf") format('truetype');
}
@font-face {
  font-family: 'lcd';
  src: url('~@/assets/fonts/technology-Italic.ttf') format('truetype');
}
body,html {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system,BlinkSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helevetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","Source Han Sans CN",sans-serif;
}
blockquote, body, span, code, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
:focus, button, img {
  outline: 0;
  border: 0;
}
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  overflow: visible;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 1px 0;
  background-clip: padding-box;
  background: rgba(3,169,255,.5);
  border-radius: 6px;
}
#app {
  padding:0;
  margin: 0;
  height: 100vh;
  min-height: 1080px;
  .wrap {
    background:#051123 url("~@/assets/images/index/bg.jpg") no-repeat;
    background-size: 100% auto;
  }
  .login {
    background: #050b16 url("~@/assets/images/login/bg.jpg") no-repeat;
    background-size: 100% auto;
  }
  header {
    height: 84px;
    width: 100%;
    display: flex;
    flex: auto;
    color: white;
    ul.menu {
      display: flex;
      flex-direction: row;
      width: 35.9%;
      align-items: flex-end;
      justify-content: flex-end;
      a, a:active {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: #5CEEE9;
      }
      li {
        font-size: 27px;
        background: url("~@/assets/images/index/menu_bg.png") no-repeat;
        background-size: 226px 51px;
        height: 51px;
        line-height: 51px;
        width: 228px;
        text-align: center;
        cursor: pointer;
        &:not(:last-child){
          margin-right: -53px;
        }
      }
    }
    .title {
      width: 28.1%;
      height: 80px;
      display: block;
      position: relative;
      h1 {
        text-align: center;
        font-size: 33px;
        line-height: 80px;
        text-shadow: 0 2px 4px rgba(5, 17, 35, 0.2);/*no*/
        background: linear-gradient(to bottom, #eff8ff, #2cd5ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255,255,255,.1);
      }
      .line {
        position: absolute;
        width: 332px;
        height: 178px;
        z-index: 3;
        bottom: -92px;
        left: 0;
        background: url("~@/assets/images/index/line.png") no-repeat;
        background-size: 100%;
        animation: slideInOut 5s ease infinite;
      }
    }
    .now-date {
      width: calc(34.2% - 32px);
      margin-right: 32px;
      font-size: 17px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      p {
        display: block;
        height: 40px;
        line-height: 45px;
        padding-left: 40px;
        margin-top: 10px;
        position: relative;
        font-size: 23px;
        font-family: "CourierPrime", sans-serif;
        letter-spacing: -2px;
        &:before {
          position: absolute;
          content: '';
          background: url("~@/assets/images/index/date_time.png") no-repeat;
          background-size: 40px 40px;
          width: 40px;
          top:0;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  main {
    height: calc(100vh - 84px);
    min-height: calc(1080px - 84px);
    margin: 0 auto;
    box-sizing: border-box;
    .flex-con {
      display: flex;
      padding: 15px;
      height: calc(1080px - 114px);
      justify-content: space-between;
      .main-left {
        width: 1306px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 100%;
        .map {
          width: 100%;
          height: 700px;
          position: relative;
        }
        .map-txt {
          background: url("~@/assets/images/measure/qjdl.png") no-repeat;
          background-size: 490px 63px;
          width: 490px;
          height: 63px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 999;
        }
        .table-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          color: white;
          width: 1280px;
          .img-left {
            width: 555px;
            .img-con {
              display: flex;
              height: 290px;
              margin-top: 5px;
              background-color: rgba(1,17,29,.9);
              justify-content: space-between;
              align-items: center;
              .img {
                width: 193px;
                height: 252px;
                img {
                  width: 193px;
                  height: 252px;
                  border-radius: 6px;
                }
              }
              ul.list {
                width: 100%;
                margin-left: 30px;
                li {
                  position: relative;
                  padding-left: 45px;
                  color: #82D6FB;
                  font-size: 18px;
                  line-height: 54px;
                  span {
                    color: #F7CD46;
                    font-size: 30px;
                    font-family: "CourierPrime", sans-serif;
                    letter-spacing: -4px;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 41px;
                    height: 50px;
                    background: url("~@/assets/images/index/icon_sp.png") no-repeat;
                    background-size: 41px 195px;
                  }
                  &:nth-of-type(1):before {
                    background-position: 0 6px;
                  }
                  &:nth-of-type(2):before {
                    background-position: 0 -40px;
                  }
                  &:nth-of-type(3):before {
                    background-position: 0 -92px;
                  }
                  &:nth-of-type(4):before {
                    background-position: 0 -143px;
                  }
                }
              }
            }
          }
          .table-right {
            width: 725px;
          }
        }
        .chart-bar {
          height: 251px;
          background: rgba(2,18,29,.27);
          border: 1px solid rgba(195, 255, 249, 0.3);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .scales-img {
            width: 265px;
            height: 180px;
            margin-left: 20px;
            margin-right: 20px;
            background: linear-gradient(to bottom, #48e9dc, #38a8f2);
            border-radius: 6px;
            padding: 3px;
            overflow: hidden;
            img {
              width: 265px;
              height: 180px;
              border-radius: 6px;
              object-fit: cover;
            }
          }
          .bar-line {
            width: 100%;
            height: 250px;
          }
        }
      }
      .main-right {
        width: 555px;
        height: 957px;
        background: rgba(6,17,33, .57);
        border: 2px solid;/*no*/
        border-image: linear-gradient(0deg, rgba(31, 77, 102, 0.56), rgba(92, 192, 243, 0.56)) 2 2;
        .right-box {
          padding: 20px;
          color: white;
          .box-con {
            padding:10px 0;
            .list-3 {
              display: flex;
              flex-direction: row;
              align-content: center;
              li {
                width: 33.3%;
                display: flex;
                flex-direction: column;
                em {
                  width: 90px;
                  height: 85px;
                  display: block;
                  margin: 0 auto;
                  padding: 5px;
                  img {
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
                p,span {
                  text-align: center;
                }
                p {
                  font-size: 14px;
                  strong {
                    font-size: 40px;
                    background: linear-gradient(to bottom,#5CEEE9,#07A67B);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
                }
                span {
                  font-size: 20px;
                }
                &:not(:last-child){
                  background: url("~@/assets/images/index/li_line.png") no-repeat right center;
                }
              }
            }
            h4 {
              font-size: 20px;
              font-weight: normal;
              text-shadow: 0 0 10px #00b9ff;/*no*/
              height: 30px;
              line-height: 30px;
              padding-bottom: 10px;
            }
            ul.num-roll {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              height: 70px;
              margin-bottom: 10px;
              li {
                width: 53px;
                height: 70px;
                margin-right: 3px;
                background: url("~@/assets/images/index/num_box.png") no-repeat center;
                background-size: 100% auto;
                font-size: 55px;
                text-align: center;
                line-height: 70px;
                color: #5CC9CA;
                position: relative;
                font-family: "lcd", sans-serif;
                span {
                  position: absolute;
                  width: 53px;
                  height: 70px;
                  bottom: 0;
                  top: 10px;
                  writing-mode: vertical-rl;
                  text-orientation: upright;
                  overflow: hidden;
                  display: block;
                  &.no-data {
                    text-align: center;
                    font-style: normal;
                    top: 5px;
                    left: 15%;
                    letter-spacing: 10px;
                    opacity: .3;
                  }
                  i {
                    font-style: normal;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    transition: transform 1s ease-in-out;
                    letter-spacing: 15px;
                    user-select:none;
                  }
                }
              }
            }
          }
          .line-box {
            width: 100%;
            height: 350px;
            position: relative;
            ul.stat {
              position: absolute;
              display: flex;
              right: 20px;
              top: -35px;
              li {
                position: relative;
                padding-left: 25px;
                font-size: 13px;
                line-height: 30px;
                height: 30px;
                &:before {
                  content: '';
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  top: 11px;
                  left: 8px;
                  border-radius: 50%;
                }
                &:nth-of-type(1):before {
                  background-color: #ea3323;
                }
                &:nth-of-type(2):before {
                  background-color: #75fa7a;
                }
                &:nth-of-type(3):before {
                  background-color: #69e1f7;
                }
                &:nth-of-type(4):before {
                  left: 5px;
                  top: 13px;
                  border-radius: 0;
                  width: 15px;
                  height: 5px;
                  background-color: #69e1f7;
                }
              }
            }
          }
        }

      }
      .main-measure-right {
        width: 555px;
        height: 957px;
        .pie-chart {
          width: 548px;
          height: 221px;
          background: rgba(2,18,29,.27);
          border: 1px solid rgba(195, 255, 249, 0.3);
          position: relative;
          .pie-title {
            margin: 18px 0 0 15px;
            width: 174px;
            height: 34px;
            font-size: 16px;
            color: #49FDFF;
            text-align: center;
            line-height: 30px;
            position: relative;
            font-weight: 400;
            &:before,&:after {
              position: absolute;
              content: '';
              width: 6px;
              height: 30px;
              border: 1px solid #49fdff;
              top: 0;
            }
            &:before {
              left: 0;
              border-right-width: 0;
            }
            &:after {
              right: 0;
              border-left-width: 0;
            }
          }
          .pie-con {
            position: absolute;
            top: 40px;
            left: 10px;
            right: 10px;
            bottom: 10px;
          }
        }
        .hor-bar {
          width: 548px;
          height: 465px;
          margin-top: 10px;
          background: rgba(2,18,29,.27);
          border: 1px solid rgba(195, 255, 249, 0.3);
          position: relative;
          .bar-con {
            position: absolute;
            top: 40px;
            left: 5px;
            right: 5px;
            bottom: 5px;
          }
        }
        .complaint {
          width: 548px;
          height: 250px;
          margin-top: 12px;
          background: rgba(2,18,29,.27);
          border: 1px solid rgba(195, 255, 249, 0.3);
          position: relative;
          ul.flex-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 500px;
            margin: 0 auto;
            li {
              width: 208px;
              height: 71px;
              background: url("~@/assets/images/measure/complaint.png") no-repeat;
              background-size: 208px 71px;
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              &.active {
                background: url("~@/assets/images/measure/complaint_active.png") no-repeat;
                background-size: 208px 71px;
              }
              h4 {
                color: #F77B0D;
                font-size: 17px;
                font-weight: bold;
                line-height: 30px;
              }
              em {
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                font-style: normal;
              }
            }
          }
        }
      }
      .box-left,.monitor-left {
        width: 1182px;
        .box-header {
          width: 100%;
          background: url("~@/assets/images/measure/box_h.png") no-repeat top left;
          background-size: 1182px 100px;
          padding: 30px 0 0 15px;
          height: 100px;
          box-sizing: border-box;
          .bar-title {
            font-size: 22px;
            font-weight: bold;
            color: #FFFFFF;
          }
        }
        .box-content {
          width: 100%;
          background: url("~@/assets/images/measure/box_c.png") repeat-y 0 0;
          background-size: 1182px 26px;
          box-sizing: border-box;
          .status {
            height: 26px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            ul.online {
              display: flex;
              height: 26px;
              padding-left: 30px;
              align-content: center;
              li {
                display: inline-block;
                margin-right: 20px;
                line-height: 26px;
                font-size: 15px;
                color: white;
                &:before {
                  content: '';
                  width: 18px;
                  height: 18px;
                  display: inline-block;
                  background-color: #9a9a9a;
                  border-radius: 50%;
                  margin-right: 10px;
                  vertical-align: middle;
                }
                &:nth-of-type(2):before {
                  background-color: #ffffff;
                }
                &:nth-of-type(3):before {
                  background-color: #00ff33;
                }
                &:nth-of-type(4):before {
                  background-color: #ffd600;
                }
                &:nth-of-type(5):before {
                  background-color: #fc0000;
                }
              }
            }
            ul.online-detail {
              display: flex;
              height: 26px;
              padding-left: 30px;
              align-content: center;
              li {
                display: inline-block;
                margin-right: 20px;
                line-height: 26px;
                font-size: 15px;
                color: white;
                &:before {
                  content: '';
                  width: 18px;
                  height: 18px;
                  display: inline-block;
                  background-color: #00ff33;
                  border-radius: 50%;
                  margin-right: 10px;
                  vertical-align: middle;
                }
                &:nth-of-type(2):before {
                  background-color: #ffd600;
                }
                &:nth-of-type(3):before {
                  background-color: #fc0000;
                }
              }
            }
            dl.pic {
              display: flex;
              flex-direction: row;
              margin-right: 40px;
              dd {
                display: inline-block;
                margin-right: 20px;
                line-height: 30px;
                height: 30px;
                font-size: 15px;
                color: white;
                padding-left: 35px;
                &:nth-of-type(1) {
                  background: url("~@/assets/images/measure/is_pic.png") no-repeat;
                  background-size: 29px 26px;
                }
                &:nth-of-type(2) {
                  background: url("~@/assets/images/measure/no_pic.png") no-repeat;
                  background-size: 29px 26px;
                }
              }
            }
            dl.pic-sb {
              display: flex;
              flex-direction: row;
              margin-right: 40px;
              dd {
                display: inline-block;
                margin-right: 20px;
                line-height: 35px;
                height: 35px;
                font-size: 15px;
                color: white;
                padding-left: 35px;
                &:nth-of-type(1) {
                  background: url("~@/assets/images/measure/no_sb.png") no-repeat;
                  background-size: 34px 31px;
                }
                &:nth-of-type(2) {
                  background: url("~@/assets/images/measure/sb_sb.png") no-repeat;
                  background-size: 34px 31px;
                }
                &:nth-of-type(3) {
                  background: url("~@/assets/images/measure/ys_sb.png") no-repeat;
                  background-size: 34px 31px;
                }
                &:nth-of-type(4) {
                  background: url("~@/assets/images/measure/sb_cg.png") no-repeat;
                  background-size: 34px 31px;
                }
              }
            }
          }
          ul.box {
            padding: 30px 25px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            min-height: 825px;
            max-height: 825px;
            overflow-y: auto;
            li {
              width: 362px;
              height: 172px;
              box-sizing: border-box;
              background: url("~@/assets/images/measure/box.png") no-repeat;
              background-size: 362px 172px;
              margin-right: 18px;
              margin-bottom: 20px;
              padding: 18px 8px 18px 20px;
              a:hover {
                text-shadow: 0 0 10px #00b9ff;
              }
              &:nth-of-type(3n) {
                margin-right: 0;
              }
              .stalls-no {
                height: 23px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                span {
                  height: 23px;
                  overflow: hidden;
                  &.no {
                    color: #36F6C2;
                    font-size: 22px;
                    line-height: 22px;
                  }
                  &.st {
                    display: flex;
                    width: 65px;
                    justify-content: space-between;
                    align-items: center;
                    i {
                      font-style: normal;
                      display: block;
                      height: 23px;
                      &.is-pic {
                        width: 25px;
                        background: url("~@/assets/images/measure/is_pic.png") no-repeat;
                        background-size: cover;
                      }
                      &.no-pic {
                        width: 25px;
                        background: url("~@/assets/images/measure/no_pic.png") no-repeat;
                        background-size: cover;
                      }
                      &.stp {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: middle;
                        &.online {
                          background-color: #00ff33;
                        }
                        &.offline {
                          background-color: #ffffff;
                        }
                        &.no-access {
                          background-color: gray;
                        }
                        &.early-warning {
                          background-color: #ffd600;
                        }
                        &.alarm {
                          background-color: red;
                        }
                      }
                    }
                  }
                }
              }
              h4 {
                height: 30px;
                padding: 10px 0;
                font-size: 18px;
                color: #a9ddee;
                line-height: 30px;
              }
              .detail {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .dl {
                  p {
                    color: white;
                    font-size: 13px;
                    margin: 0;
                    em {
                      font-size: 23px;
                      font-style: normal;
                      font-weight: 500;
                    }
                  }
                }
                .type {
                  font-size: 14px;
                  font-weight: bold;
                  color: #FFB619;
                  line-height: 30px;
                  padding-right: 10px;
                }
              }
            }
          }
        }
        .box-bottom {
          background: url("~@/assets/images/measure/box_b.png") no-repeat;
          background-size: 1182px 55px;
          width: 1182px;
          height: 55px;
          margin-top: -38px;
        }
      }
      .box-right {
        width: 668px;
        .box-header {
          width: 100%;
          background: url("~@/assets/images/measure/box_r_h.png") no-repeat top left;
          background-size: 668px 100px;
          height: 100px;
          padding: 50px 0 0 20px;
          box-sizing: border-box;
          .title {
            color: white;
          }
        }
        .box-right-content {
          width: 100%;
          background: url("~@/assets/images/measure/box_r_c.png") repeat-y 0 0;
          background-size: 668px 1px;
          box-sizing: border-box;
          ul.list-scales {
            height: 95px;
            display: flex;
            flex-direction: row;
            align-content: center;
            padding: 0 20px;
            li {
              width: 33.3%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              img {
                width: 92px;
                height: 87px;
              }
              p {
                display: flex;
                flex-direction: column;
                color: white;
                justify-items: center;
                align-items: flex-start;
                justify-content: center;
                height: 80px;
                span {
                  font-size: 16px;
                  display: block;
                  i {
                    font-size: 40px;
                    font-style: normal;
                    font-weight: bold;
                    background: linear-gradient(-1deg, #2BBBF3 0%, #007CAA 98%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
                }
              }
              &:nth-of-type(2) {
                p>span i {
                  background: linear-gradient(-1deg, #00F2EA 0%, #00AA78 98%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
              &:nth-of-type(3) {
                p>span i {
                  background: linear-gradient(-1deg, #00DBF1 0%, #009BA8 98%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
            }
          }
          h4 {
            padding: 10px 50px;
            font-size: 20px;
            font-weight: normal;
            text-shadow: 0 0 10px #00b9ff;/*no*/
            height: 30px;
            line-height: 30px;
            color: white;
          }
          ul.num-scales {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 70px;
            li {
              width: 53px;
              height: 70px;
              margin-right: 3px;
              background: url("~@/assets/images/index/num_box.png") no-repeat center;
              background-size: 100% auto;
              font-size: 50px;
              text-align: center;
              line-height: 70px;
              color: #5CC9CA;
              position: relative;
              font-family: "lcd", sans-serif;
              &.dh,&.unit {
                background: none;
                width: 20px;
              }
              &.no-data {
                color: #00576a;
              }
              &.unit {
                font-size: 22px;
                line-height: 4;
                color: white;
                text-shadow: 0 0 10px #00b9ff;/*no*/
              }
            }
          }
          .data-table {
            padding: 25px 20px;
            box-sizing: border-box;
            height: 400px;
            .title {
              color: white;
            }
            .table-con {
              height: 298px;
              .marquee-wrap {
                height: 263px;
              }
            }

          }
        }
        .box-right-bottom {
          background: url("~@/assets/images/measure/box_r_b.png") no-repeat;
          background-size: 668px 56px;
          width: 668px;
          height: 56px;
          margin-top: -43px;

        }
      }
      .bar-title {
        margin: 10px 0 0 15px;
        width: 174px;
        height: 40px;
        font-size: 16px;
        color: #49FDFF;
        line-height: 30px;
        position: relative;
        font-weight: 400;
        &:before,&:after {
          position: absolute;
          bottom: 0;
          content: '';
        }
        &:before {
          left: 0;
          height: 4px;
          width: 56px;
          background: #FFA82C;
        }
        &:after {
          left: 56px;
          bottom: 2px;
          width: 109px;
          height: 1px;
          background: #FFFFFF;
          opacity: 0.51;
        }
      }
      .table-con {
        display: flex;
        width: 100%;
        height: 270px;
        margin-top: 5px;
        background-color: rgba(1,17,29,.9);
        padding: 10px 0;
        .marquee {
          width: 100%;
          dl {
            display: flex;
            color: #ACB7BC;
            font-size: 14px;
            background-color: #072C39;
            justify-content: space-between;
            dt {
              flex: 1;
              padding: 8px;
              text-align: center;
            }
          }
          .marquee-wrap {
            width: 100%;
            height: 235px;
            overflow: hidden;
            .marquee-list {
              li {
                display: flex;
                color: #76C6CF;
                width: 100%;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                height: 35px;
                border-bottom: 1px solid rgba(78,158,192, .1);
                span {
                  flex: 1;
                  padding: 8px;
                  text-align: center;
                  overflow: hidden;
                  &:nth-of-type(1) {
                    width: 10%;
                  }
                }
                /*&:nth-of-type(even) {
                  background-color: rgba(78,158,192, .1);
                }*/
                &.no-data {
                  height: calc(270px - 35px);
                  width: 100%;
                  justify-content: center;
                  align-items: center;
                  font-size: 18px;
                  color: #fff;
                }
              }
            }
          }

        }
      }
      .cpi-line {
        width: 100%;
        height: 100%;
      }
      .monitor-left {
        width: 1312px;
        .box-header {
          background-size: 1312px 100px;
        }
        .box-content {
          background-size: 1312px 26px;
          .status {
            height: 35px;
          }
          ul.box {
            min-height: 807px;
            max-height: 807px;
            li {
              width: 162px;
              height: 206px;
              box-sizing: border-box;
              background: url("~@/assets/images/measure/pic_box.png") no-repeat;
              background-size: 162px 206px;
              margin-right: 18px;
              margin-bottom: 20px;
              padding: 18px 8px 18px 20px;
              img {
                width: 122px;
                height: 82px;
                overflow: hidden;
                border-radius: 6px;
              }
              .tit-stu {
                height: 35px;
                margin-left: -10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                  display: block;
                  &.tit {
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    line-height: 25px;
                    width: 70%;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                  }
                  &.stu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 30%;
                    height: 25px;
                    i {
                      font-style: normal;
                      display: block;
                      height: 20px; // w:22+
                      width: 22px;
                      &.no-sb {
                        background: url("~@/assets/images/measure/no_sb.png") no-repeat;
                        background-size: cover;
                      }
                      &.sb-cg {
                        background: url("~@/assets/images/measure/sb_cg.png") no-repeat;
                        background-size: cover;
                      }
                      &.ys_sb {
                        background: url("~@/assets/images/measure/ys_sb.png") no-repeat;
                        background-size: cover;
                      }
                      &.sb-sb {
                        background: url("~@/assets/images/measure/sb_sb.png") no-repeat;
                        background-size: cover;
                      }
                      &.setup {
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        vertical-align: middle;
                        &.online {
                          background-color: #00ff33;
                        }
                        &.early-warning {
                          background-color: #ffd600;
                        }
                        &.alarm {
                          background-color: red;
                        }
                      }
                    }
                  }
                }
              }
              .price {
                font-size: 21px;
                font-weight: 500;
                color: #57F2C4;
                line-height: 30px;
                font-family: Arial, Roboto;
              }
              .data-time {
                font-family: "CourierPrime", sans-serif;
                font-size: 14px;
                color: white;
                padding-top: 8px;
                letter-spacing: -2px;
              }
              &:nth-of-type(3n) {
                margin-right: 18px;
              }
              &:nth-of-type(7n) {
                margin-right: 0;
              }
            }
          }
        }
        .box-bottom {
          width: 1312px;
          background-size: 1312px 55px;
        }
      }
      .monitor-right {
        width: 541px;
        .right-top {
          background: url("~@/assets/images/measure/right-box.png") no-repeat;
          background-size: 541px 411px;
          width: 541px;
          height: 411px;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 60px 30px 10px 30px;
          margin-top: -20px;
          ul {
            color: white;
            font-size: 18px;
            font-family: Arial, Roboto;
            li {
              height: 45px;
              line-height: 45px;
              span {
                color: #FFCC00;
                font-size: 22px;
              }
              em {
                font-size: 13px;
                font-style: normal;
              }
            }
          }
          img {
            width: 214px;
            height: 270px;
            border-radius: 6px;
          }
        }
        .right-bottom {
          background: url("~@/assets/images/measure/r_bottom_box.png");
          width: 541px;
          height: 533px;
          margin-top: 45px;
        }
      }
    }
    .cpi {
      .flex-left,.flex-right {
        width: 370px;
        height: 100%;
        .box-header {
          width: 100%;
          background: url("~@/assets/images/cpi/box_t.png") no-repeat top left;
          background-size: 370px 83px;
          padding: 50px 0 0 15px;
          height: 80px;
          box-sizing: border-box;
          h4 {
            height: 25px;
            font-size: 22px;
            text-align: center;
            color: #FEFEFE;
            line-height: 24px;
            background: linear-gradient(0deg, #FFFFFF 45%, #9DA6B5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .box-cen {
          width: 100%;
          background: url("~@/assets/images/cpi/box_c.png") repeat-y 0 0;
          background-size: 370px 1px;
          h5 {
            height: 40px;
            padding: 10px 0;
            text-align: center;
            font-size: 17px;
            color: #fff;
            text-shadow: 0 1px 10px #00deff;/*no*/
          }
          .bar-one {
            width: 100%;
            height: 370px;
            padding: 5px 10px;
            box-sizing: border-box;
          }
          li {
            width: 170px;
            height: 110px;
            background: url("~@/assets/images/cpi/r_box.png") no-repeat;
            background-size: 170px 110px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 15px 20px;
            span {
              font-size: 14px;
              color: #fff;
              line-height: 25px;
              height: 25px;
              display: block;
              text-shadow: -1px 1px 10px #00fba2;/*no*/
              &.increase,&.decline {
                font-size: 30px;
                height: 35px;
                line-height: 35px;
                font-family: "CourierPrime", sans-serif;
                letter-spacing: -2px;
                text-shadow: none;
              }
              &.increase {
                color: #fd0606;
              }
              &.decline {
                color: #03ffb5;
              }
            }
          }
        }
        .box-bottom {
          width: 100%;
          background:url("~@/assets/images/cpi/box_b.png") no-repeat 0 0;
          background-size: 370px 60px;
          height: 60px;
          margin-top: -30px;
        }
      }
      .flex-center {
        width: 1070px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .cpi-map {
          width: 100%;
          height: 760px;
        }
        .cpi-bot {
          background: url("~@/assets/images/cpi/box.png") no-repeat 0 0;
          background-size: 1070px 296px;
          height: 296px;
          width: 1070px;
          display: flex;
          position: relative;
          .legend {
            width: 20%;
            display: flex;
            flex-direction: column;
            .c-title {
              margin: 20px 0 10px 25px;
              padding-left: 36px;
              background: url("~@/assets/images/cpi/icon_c_t.png") no-repeat 0 center;
              background-size: 36px 35px;
              height: 40px;
              line-height: 40px;
              color: white;
              font-size: 16px;
            }
            ul.status {
              padding-left: 25px;
              li {
                color: white;
                height: 25px;
                padding-left: 20px;
                line-height: 25px;
                font-size: 15px;
                position: relative;
                &:before {
                  position: absolute;
                  left: 0;
                  top: 6.5px;
                  content: '';
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  display: inline-block;
                }
                &:nth-of-type(1):before {
                  background-color: red;
                }
                &:nth-of-type(2):before {
                  background-color: #00ff66;
                }
                &:nth-of-type(3):before {
                  background-color: #53d1f1;
                }
                &:nth-of-type(4) {
                  padding-left: 35px;
                  &:before {
                    top: 11px;
                    width: 30px;
                    height: 3px;
                    background-color: #53d1f1;
                    border-radius: 0;
                  }
                }
              }
            }
          }
        }
      }
      .flex-right {
        width: 375px;
        height: 100%;
        ul.box-cen {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: flex-start;
          box-sizing: border-box;
          padding-top: 20px;
          min-height: 850px;
        }
      }
    }
    .traceability {
      .traceability-con {
        padding: 15px;
        height: calc(1080px - 114px);
        display: flex;
        flex-direction: column;
        .flex-pic {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 1552px;
          margin: 0 auto;
          .map-con {
            width: 1310px;
            height: 720px;
          }
          .pic-right {
            background: url("~@/assets/images/traceability/pic_right.png") no-repeat 0 bottom;
            background-size: 242px 661px;
            width: 242px;
            height: 720px;
          }
        }
      }
      .pic_bottom {
        background: url("~@/assets/images/traceability/pic_bottom.png") no-repeat center top;
        width: 1552px;
        height: 200px;
        margin: 10px auto;
      }
    }
    .login-wrap {
      padding-top: 155px;
      .login-box {
        margin: 0 auto;
        display: flex;
        width: 671px;
        height: 524px;
        background: url("~@/assets/images/login/login_box.png") no-repeat;
        background-size: 100% auto;
        box-sizing: border-box;
        padding: 20px 60px;
        flex-direction: column;
        color: #13d5e2;
        .login-tit {
          width: 100%;
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 5px;
          height: 60px;
          line-height: 60px;
        }
        .form {
          padding: 20px 0;
          display: flex;
          flex-direction: column;
          >input {
            box-sizing: border-box;
            width: 100%;
            height: 54px;
            border: 3px solid #076776;
            color: #13d5e2;
            font-size: 20px;
            position: relative;
            padding-left: 60px;
            line-height: 55px;
            margin-bottom: 25px;
            &:nth-child(1) {
              background: #062735 url("~@/assets/images/login/input_icon.png") no-repeat 15px 5px;
              background-size: 41px 153px;
            }
            &:nth-child(2) {
              background: #062735 url("~@/assets/images/login/input_icon.png") no-repeat 15px -45px;
              background-size: 41px 153px;
            }
          }
          label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input {
              box-sizing: border-box;
              height: 54px;
              border: 3px solid #076776;
              color: #13d5e2;
              font-size: 20px;
              position: relative;
              padding-left: 60px;
              line-height: 55px;
              width: 280px;
              display: inline-block;
              background: #062735 url("~@/assets/images/login/input_icon.png") no-repeat 15px -100px;
              background-size: 41px 153px;
            }
            img {
              width: 200px;
              display: inline-block;
              height: 54px;
            }
          }
          .remember-me {
            height: 55px;
            display: flex;
            align-items: center;
            span {
              line-height: 55px;
              font-size: 16px;
              color: white;
              padding-left: 10px;
            }
            input[type='checkbox'] {
              width: 20px;
              height: 20px;
              border: 3px solid #076776;
              background-color: #062735;
            }
          }
          button {
            height: 54px;
            width: 100%;
            background: linear-gradient(90deg, #0CA8CA, #22C3DB);
            border: none;
            font-size: 25px;
            color: white;
            letter-spacing: 3px;
            cursor: pointer;
          }
        }

      }
    }
  }
}
.title {
  height: 45px;
  line-height: 45px;
  position: relative;
  display: flex;
  font-size: 23px;
  align-content: center;
  &:before {
    background:url("~@/assets/images/index/title_icon.png") no-repeat 0 center;
    background-size: 18px 27px;
    width: 30px;
    height: 45px;
    content: '';
  }
}
.loading {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  svg {
    width: 100px;/*px*/
    height: 100px;/*px*/
  }
  .loading-tip {
    font-size: 28px;/*px*/
    color: white;
    animation: breath 3s ease-in-out infinite;
  }
}
.go-back {
  position: absolute;
  background: url("~@/assets/images/measure/go_back.png") no-repeat;
  background-size: 100% auto;
  width: 72px;
  height: 26px;
  top: 40px;
  left: 20px;
  cursor: pointer;
}
.toast {
  position: fixed;
  top: 45%;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px 15px 5px 50px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #062836;
  border-radius:3px 3px 3px 3px;
  background-position:15px center;
  background-repeat:no-repeat;
  box-shadow:0 0 12px #999;
  color:#fff;
  opacity:.8;
  &.error{
    background-color: #bd362f;
    background-image:url('~@/assets/images/toast/error.png')
  }
}

@keyframes breath {
  from{ opacity: 0.1; }
  50%{ opacity:   1; }
  to{ opacity: 0.1; }
}
@keyframes slideInOut{
  0%{
    transform:translateX(-50%);
    opacity:0;
  }
  20%{
    transform:translateX(15%);
    opacity:1;
  }
  80%{
    transform:translateX(50%);
    opacity:1;
  }
  100%{
    transform:translateX(100%);
    opacity: 0;
  }
}
